<!-- HTML Document with AngularJS for MyNotes application by Srinath Kadambi ----------------------------------------------->

<!doctype html>

<!-- Initialization of AngularJS ------------------------------------------------------------------------------------------->
<html ng-app>
	<head>
	   <title>My Notes</title>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js">
	   </script>
	   <script src="mynotes.js"></script>
	   
	   <!-- Link to CSS sheet for styling ---------------------------------------------------------------------------------->
	   
	   <link rel="stylesheet" href="notes.css" type="text/css" media="screen" charset="utf-8" />
	</head>
	
	<!-- Initialize controller for the body -------------------------------------------------------------------------------->
	
	<body ng-controller = "NotesControl">
	
	<!-- Heading for the application --------------------------------------------------------------------------------------->
	
		<div>
			<h1>{{notesTitle.title}}</h1>
		</div>
		
	<!-- Table which will contain the questions and answers ----------------------------------------------------------------->
	
		<div id = "maintable">
			<input type="checkbox", ng-model="boolIn"/>
			<span>{{inlineT.text}}</span>
			<table>
				<tbody>
	<!-- Iterate over an array which will be updated dynamically by the New Item button ------------------------------------->
	
					<tr ng-repeat="num in tableitems">
						<td class = "inline-{{boolIn}}">
						
	<!-- My idea was to assign a model to the question and answer separately with a number to distinguish them --------------->
	<!-- However this was not completed in time ------------------------------------------------------------------------------>
	
							<input class="bold-true" type = "text" placeholder = "Question" ngmodel = "$parent.{{num}}"/>
						</td>
						<td class = "inline-{{boolIn}}">
							<input class="bold-false" type = "text" placeholder = "enter text..." />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br />
		
	<!-- Buttons required for application ------------------------------------------------------------------------------------>	
	
		<div id = "buttons">
			<button id = "newitembtn" value = "New Item" ng-click="addRow()">New Item</button>
			<br />
			<button id = "submitbtn" value = "Submit" ng-click="toJSON()">Submit</button>
		</div>
	</body>
</html>

<!-- End of document -------------------------------------------------------------------------------------------------------->