/* CSS Document to accompany the MyNotes web application by Srinath Kadambi -------------------------------------------- */

/* Make the heading bold and a bigger font ----------------------------------------------------------------------------- */

#h1 {
	margin-left: 30px;
	font-weight: bold;
	font-size:40px;
	color: black;
}

/* Make the background of the main table lightgray and add border to it ------------------------------------------------ */

#maintable{
	background-color: Lightgray;
	border-style: dashed;
	border-width: 0.5px;
	border-color: gray;
}

#buttons{
	length = 400px;
}

#submitbtn{
	margin-top: 40px;
	margin-left: 440px;
}

/* Change the font and font-color of placeholders for all browsers ----------------------------------------------------- */

::-moz-placeholder {
   color: black;  
   opacity:1;
}

:-moz-placeholder {
   color: black;  
   opacity:1;
}

::-webkit-input-placeholder {
	color:black; 
}

/* This is for the "Question field as it is required to be bold -------------------------------------------------------- */

.bold-true{
	font-weight:bold;
	background-color: Lightgray;
	border:none;
}

/* This is required to manipulate the display of table cell elements --------------------------------------------------- */

.inline-false{
	display:block;
}

.inline-true{
	display:inline;
}

div{
	width: 500px;
}



/* End of document ---------------------------------------------------------------------------------------------------- */